---
layout: default
---
<nav class="posts">
    {% for post in paginator.posts %}
        <a href="{{ post.url }}">
            <span class="title"># {{ post.title }}</span>
            <span class="date">[{{ post.date | date:"%Y-%m-%d" }}]</span>
            <br/>
            <span class="excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 137 }}...</span>
            <br/>
            <span class="comment-count">{% include disqus-comment-count.html %}</span>
        </a>
        <br/><br/><br/>
    {% endfor %}
</nav>
<br/>